body {
    font-family: 'Poppins', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
    padding: 0;
}

header, nav, section {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #f39c12;
}

#posters .poster-grid img {
    width: 150px;
    height: 220px;
    margin: 10px;
    border-radius: 8px;
}

nav a {
    color: #3498db;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #333;
}

nav a:hover {
    background-color: #444;
}
.gallery {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }
        .image-container {
            text-align: center;
        }
        img {
            max-width: 200px;
            height: auto;
        }
        